div.button-constainer {
    background-color: #0090FF;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    color: #FFF;
    transition: all 0.2s;

    span{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px;
    }

    &:hover {
        background-color: #70befa;
    }

    &:active {
        background-color: #0090FF;
    }
}