div.debtlist-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: auto;
    padding: 5px;
    max-width: 1000px;
    height: calc(100vh - 55px);

    div.debtlist-button {
        display: flex;
        justify-content: space-between;
        align-items: center;

        div.debtlist-button-month {
            display: flex;

            span {
                margin-left: 5px;
            }
        }

    }

    .debts-pay,
    .last-debts {
        overflow: auto;
        display: flex;
        flex-direction: column;
        max-height: 50%;

        /* width */
        ::-webkit-scrollbar {
            width: 2px;
            height: 2px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: linear-gradient(
                262.71deg,
                #00ffa3 -30.04%,
                #0090FF 124.74%
            );
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

        

        div.debts-list {
            align-items: center;
            overflow-y: auto;
            margin-top: 28px;

            span {
                display: flex;
                justify-content: center;
            }
        }
    }


    div.debtssum-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        margin-top: 5px;
        color: #00ffa3;

        .debtssum-pay {
            color: #00ffa3;
        }

        .debtssum-notpay {
            color: #fe4a49;
        }
    }

    .debts-pay {
        flex: 1;
        padding-top: 10px;

        .debts-list {
            margin-top: 10px;
        }
    }

    hr {
        margin-top: 10px;
        opacity: 0.1;
    }
}

@media only screen and (max-width: 550px){
    div.debtssum-container {
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
    }
}

