div.debts-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

div.debts-descriptions {
    font-size: 1.1rem;
}

span.debts-description,
span.debts-value,
span.debts-installments,
span.debts-description {
    padding-right: 20px;
}