div.footer-container {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;

    .footer-github {
        text-decoration: none;
        color: #778085;
    }
}
