div.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #00ffa3;
    color: #414345;


    nav.nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
    }
    
    span.header-logo {
        cursor: pointer;
    }

    @media only screen and (max-width: 1000px) {
        nav.nav-container {
            width: 90%;
        }
      }
}

