div.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #00d1ff;

    nav.nav-container {
        display: flex;
        align-items: center;
        height: 80px;
        width: 95%;
    }
    
    span.header-logo {
        color: #FFFFFF;
        font-size: 2.5rem;
        font-weight: bold;
        cursor: pointer;
    }
}

