/* #4a4e4d • #0e9aa7 • #3da4ab • #f6cd61 • #fe8a71 • #2ab7ca  */

/* variables */

$backgroud: #4a4e4d;
$TextColor: #ffffff;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  /* background: $backgroud; */
  /* font-family: 'M PLUS 1 Code', sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
}
