/* #4a4e4d • #0e9aa7 • #3da4ab • #f6cd61 • #fe8a71 • #2ab7ca  */
/* VARIAVEIS */
$background: linear-gradient(to right, #232526, #414345);
$primary-text-color: #FFFFFF;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Archivo', sans-serif;
  background: $background;
  color: $primary-text-color;
  overflow-y: hidden;
}
